
body, html {
  background: #fafafa;
  padding: 0px;
  margin: 0px;
  width: 100%;
  min-height: 100vh;
}

:root {
  --primary-color-1 : rgba(180,180,0,100%);
  --primary-color-2: rgba(180,180,0,60%);
  --primary-color-3: rgba(180,180,0,30%);
  --secondary-color-1 : rgba(180,0,90,100%);
  --tertiary-color-1 : rgba(180,90,0,100%);
}


.fwk-container {
  background-color: #333;
  color : #fff;
  padding : 10px;
}

.f-col {
  display: flex;
  flex-direction: column;
}

.input-container {
  position: relative;
}


input[type=text].mocor,
input[type=tel].mocor,
input[type=password].mocor,
input[type=number].mocor,
input[type=url].mocor,
input[type=search].mocor,
input[type=date].mocor,
input[type=datetime].mocor,
input[type=datetime-local].mocor,
input[type=time].mocor,
input[type=week].mocor,
input[type=month].mocor,
input[type=email].mocor {
  margin-top: 1rem;
  border-style: solid;
  border-color: var(--primary-color-2);
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
  -webkit-appearance: none;
  height: 1.2rem;
  background-color:#ffffff0F;
  box-shadow:unset;
  transition: all 300ms ease-in-out;
  color: #fafafa;
}

input[type=text].mocor:focus,
input[type=tel].mocor:focus,
input[type=password].mocor:focus,
input[type=number].mocor:focus,
input[type=url].mocor:focus,
input[type=search].mocor:focus,
input[type=date].mocor:focus,
input[type=datetime].mocor:focus,
input[type=datetime-local].mocor:focus,
input[type=time].mocor:focus,
input[type=week].mocor:focus,
input[type=month].mocor:focus,
input[type=email].mocor:focus {
  outline: none;
  border-color: var(--primary-color-1);
  box-shadow:0px 0px 2px 1px var(--primary-color-3);
}

input[type=text].mocor + label,
input[type=tel].mocor + label,
input[type=password].mocor + label,
input[type=number].mocor + label,
input[type=url].mocor + label,
input[type=search].mocor + label,
input[type=email].mocor + label {
  transition: all 300ms ease-in-out;
  top:0;
}

input[type=text].mocor:not(:placeholder-shown) + label,
input[type=text].mocor:focus + label,
input[type=tel].mocor:not(:placeholder-shown) + label,
input[type=tel].mocor:focus + label,
input[type=password].mocor:not(:placeholder-shown) + label,
input[type=password].mocor:focus + label,
input[type=number].mocor:not(:placeholder-shown) + label,
input[type=number].mocor:focus + label,
input[type=url].mocor:not(:placeholder-shown) + label,
input[type=url].mocor:focus + label,
input[type=search].mocor:not(:placeholder-shown) + label,
input[type=search].mocor:focus + label,
input[type=email].mocor:not(:placeholder-shown) + label,
input[type=email].mocor:focus + label {
  color : white;
  position: absolute;
  font-size: 0.8rem;
  left: 0.6rem;
}


input[type=text].mocor:placeholder-shown:not(:focus) + label,
input[type=tel].mocor:placeholder-shown:not(:focus) + label,
input[type=password].mocor:placeholder-shown:not(:focus) + label,
input[type=email].mocor:placeholder-shown:not(:focus) + label,
input[type=number].mocor:placeholder-shown:not(:focus) + label,
input[type=url].mocor:placeholder-shown:not(:focus) + label,
input[type=search].mocor:placeholder-shown:not(:focus) + label {
  color : silver;
  position: absolute;
  left: 0.5rem;
  top: 1rem;
  font-size: 1rem;
}

input[type=color].mocor {
  
  -webkit-appearance: none;
  appearance: none;
  border-style: solid;
  border-color: var(--primary-color-2);
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
  min-height: 1rem;
  background-color:#ffffff0F;
  box-shadow:unset;
}

input[type=radio].mocor,
input[type=checkbox].mocor {
  
  -webkit-appearance: none;
  appearance: none;
  border-style: solid;
  border-color: var(--primary-color-2);
  border-width: 2px;
  border-radius: 0px;
  height: 1.5rem;
  width: 1.5rem;
  background-color:#ffffff0F;
  box-shadow:unset;
}

input[type=radio].mocor {
  border-radius : 50%;
}

input[type=checkbox].mocor {
  border-radius : 1px;
}

input[type=checkbox].mocor:checked ,
input[type=radio].mocor:checked {
  border-color: var(--primary-color-1);
  top: 0px;
  left: 0px;
  box-shadow: inset 0px 0px 3px var(--primary-color-1);
}

input[type=radio].mocor:checked::after {
  width: 0.8rem;
  height: 0.8rem;
  top: 0.6rem;
  left: 0.6rem;
  position : absolute;
  background-color : var(--primary-color-1);
  border-radius: 50%;
  content: "";
}

input[type=file].mocor::after,
input[type=button].mocor,
input[type=reset].mocor,
input[type=submit].mocor {
  -webkit-appearance: none;
  appearance: none;
  border-style: solid;
  border-width: 2px;
  border-radius: 4px;
  background-color: #fafafa;
  border-color: #fafafa;
  color : black;
}


input[type=button].mocor.primary,
input[type=reset].mocor.primary,
input[type=submit].mocor.primary {
  background-color: var(--primary-color-1);
  border-color: var(--primary-color-1);
  color : white;
}

input[type=button].mocor.secondary,
input[type=reset].mocor.secondary,
input[type=submit].mocor.secondary {
  background-color: var(--secondary-color-1);
  border-color: var(--secondary-color-1);
  color : white;
}

input[type=button].mocor.tertiary,
input[type=reset].mocor.tertiary,
input[type=submit].mocor.tertiary {
  background-color: var(--tertiary-color-1);
  border-color: var(--tertiary-color-1);
  color : white;
}

input[type=button].mocor.outline,
input[type=reset].mocor.outline,
input[type=submit].mocor.outline {
  background-color: transparent;
  color : white;
}


[data-alt]::after {
  content: attr(data-alt);
  background-color: #222;
  color: white;
  border-radius: 2px;
  border: 2px solid #ff0000;
  padding: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
