.mocor-input-text-container {
  input[type=text].mocor {
    background-color: #FFFFFF0a;
    border-width: 0 0 2px 0 ;
    border-style: solid ;
    border-color:rgb(224, 253, 3);
    color : white;
  }
}