$black : 900;
$extraBold : 800;
$bold : bold;
$semiBold : 600;
$regular : normal;
$light : 300;
$extraLight : 100;

:root {
    --black : $black;
    --extra-bold : $extraBold;
    --bold : $bold;
    --semi-bold : $semiBold;
    --regular : $regular;
    --light : $light;
    --extra-light : $extraLight;
} 